/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "social-share-button"

body
  padding-top: 50px
  background-image: url(image-path("idea2.jpg"))
  background-position: static
  background-size: cover
  background-attachment: fixed

.share
  float: right

.jumbotron
  height: 600px
  background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.51)), url(image-path("idea.jpg"))
  background-size: cover
  color: white

.profile
  padding-top: 20px

.col-centered
  float: none
  margin: 0 auto

.img-centered
  margin-left: auto
  margin-right: auto
  display: block

.inner
  display: inline-block
  padding-right: 5px
  padding-top: 5px
  float:none
  margin: 0 auto

.pad-top
  padding-top: 50px

.navbar-fixed-bottom
  padding: 5px 20px
  margin-top: 20px
  background-color: #F8F8F8

.pencil-trash
  float: right
